*.o
*.class
*.pyc
*.log
.classpath
res.txt
bin-groovy
bin-python
bin
build
tools
*.egg-info*
RNpicker/dists/conf-dist/dist*
RNpicker/dists/conf-dist/testing*
RNpicker/dists/conf-dist/org*
RNpicker/dists/rnpicker-dist/ctbto*
RNpicker/dists/rnpicker-dist/testing*
RNpicker/dists/rnpicker-dist/dist*
RNpicker/dists/rnpicker-dist/MANIFEST
RNpicker/dists/rnpicker-dist/conf*
RNpicker/dists/rnpicker-dist/scripts*
.coverage
.project
.externalToolBuilders
.externalToolBuilders/*
