*.o
*.class
*.pyc
*.log
.classpath
res.txt
bin-groovy
bin-python
bin
build
tools
RNpicker/dist/RNPicker.egg-info/
RNpicker/dist/conf.egg-info/*
RNpicker/dists/conf-dist/dist/*
.coverage
.project
.externalToolBuilders
.externalToolBuilders/*
