#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Configuration file 
#  author: guillaume.aubert@ctbto.org
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Name : DatabaseAccess
#  Info : Connection Configuration Database
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[MainDatabaseAccess]
# jdbc driver 
driverClassName=oracle.jdbc.driver.OracleDriver
# devlan Url
# working one on devlan
#url=oracle://aubert:ernest25@idcdev
#url=oracle://rmsuser:rmsuser@maui.ctbto.org
hostname=maui.ctbto.org
user=rmsuser
password=rmsuser
# test database
#url=oracle://rmsman:rmsman@172.27.66.54
#url=oracle://rmsman:rmsman@localhost

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Name : ArchiveDatabaseAccess
#  Info : Connection Configuration Database
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[ArchiveDatabaseAccess]
# jdbc driver 
driverClassName=oracle.jdbc.driver.OracleDriver
# devlan Url
# working one on devlan
#url=oracle://aubert:ernest25@idcdev
#url=oracle://centre:data@moorea.ctbto.org
hostname=moorea.ctbto.org
user=centre
password=data

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Name : Options
#  Info : general options
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Options]
removeChannelIndex=true
addNuclideLines=true
compressSpectrum=false
# cache data file
activateCaching=true
remoteDataSource=true
#write human readable hash in /tmp
writeHumanReadableData=true

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Name : Caching
#  Info : caching information
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Caching]
dir=/tmp/samples/cached-data

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Name : RemoteAccess
#  Info : Mapping for access a remote file system where the RN data is
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[RemoteAccess]
sftpScript=/home/aubert/dev/src-reps/java-balivernes/RNpicker/etc/ext/sftpDataFetcher.sh
localdir=/tmp/samples/local-spectrums
archiveAccessHost=kuredu
archiveAccessUser=aubert
archiveAccessScript=/home/aubert/dev/src-reps/java-balivernes/RNpicker/etc/ext/remote_extraction_from_archive.sh
cachingActivated=true

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Name : Transformer
#  Info : Transform XML into something else
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Transformer]
xsltPrettyPrinter=../etc/ext/pretty-print.xslt


#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Name : TemplatingSystem
#  Info : Information for the XML templating engine
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[TemplatingSystem]
# Base Template to load
baseTemplate=../etc/ext/SAMPMLTemplate.xml

particulateSpectrumTemplate=
    <Spectrum id="${SPECTRUM_ID}" calibrationIDs="en2ch re2en ef2en">
       <Geometry>${GEOMETRY}</Geometry>
	   <Quantity unit="m3">${QUANTITY}</Quantity>
	   <CollectionStart>${COL_START}</CollectionStart>
	   <CollectionStop>${COL_STOP}</CollectionStop>
	   <AcquisitionStart>${ACQ_START}</AcquisitionStart>
	   <AcquisitionStop>${ACQ_STOP}</AcquisitionStop>
	   <RealAcquisitionTime>${REAL_ACQ_TIME}</RealAcquisitionTime>
	   <LiveAcquisitionTime>${LIVE_ACQ_TIME}</LiveAcquisitionTime>
       <SamplingTime>${SAMPLING_TIME}</SamplingTime>
	   <DecayTime>${DECAY_TIME}</DecayTime>
	   <MeasurementType>${MEASUREMENT_TYPE}</MeasurementType> 
	   <SampleType>${SAMPLE_TYPE}</SampleType>      
	   <Data gammaChannelSpan="${SPECTRUM_DATA_CHANNEL_SPAN}" gammaEnergySpan="${SPECTRUM_DATA_ENERGY_SPAN}" format="IMS2.0" ${COMPRESS}>
         ${SPECTRUM_DATA}
       </Data>
    </Spectrum>

particulateNuclideTemplate=
    <Nuclide quantifiable="${QUANTIFIABLE}" reportMDA="${REPORTMDA}">
		<Name>${NAME}</Name>
        <Type>${TYPE}</Type>
        <HalfLife>${HALFLIFE}</HalfLife>
		<Concentration unit="uBq/m3">${CONCENTRATION}</Concentration>  
	    <ConcentrationError unit="percentage">${CONCENTRATION_ERROR}</ConcentrationError>
		<MDA unit="uBq">${MDA}</MDA>
	    <NuclideIdentificationIndicator numericVal="${IDENTIFICATION_NUM}">${IDENTIFICATION_INDICATOR}</NuclideIdentificationIndicator> 
    </Nuclide> 

particulateNuclideLinesTemplate=
    <IdedNuclideLines>
	   ${NUCLIDELINES}                                    
	</IdedNuclideLines>
	
particulateOneNuclideLineTemplate=
    <IdedNuclideLine ${PEAKID}>                                     
		<Name>${NAME}</Name>                                                        
	    <MDA unit="uBq">${MDA}</MDA>
	    ${ACTIVTIY}       
		${ENERGY}                           
		${ABUNDANCE}                 
		${EFFICIENCY}                                              
	</IdedNuclideLine>         

particulateCategoryTemplate=
     <Category>${CATEGORY}</Category>
	 <CategoryComment>${CATEGORY_COMMENT}</CategoryComment>

particulateAnalysisTemplate=
   <Analysis id="${ANALYSISID}" spectrumIDs="${SPECTRUM_ID}"> 
       <Software>
		 <Name>${SOFTWARE}</Name>
		 <Version>${VERSION}</Version>
		 <Method>${METHOD}</Method>
		 <Comments>${SOFTCOMMENTS}</Comments>
	  </Software>
	  <SampleCategorization> 
		  ${CATEGORY}
	  </SampleCategorization>
	  <IdedNuclides>
		  ${NUCLIDES}
	  </IdedNuclides>
	  ${WITHNUCLIDELINES}
	  <PeakResults>
		  ${PEAKS}
	  </PeakResults>
	  <Parameters>
		  ${PARAMETERS}
	  </Parameters>
		    <Flags>
			  ${FLAGS}
		</Flags>
   </Analysis>
	
particulateQuantifiedTemplate=
   <Nuclide>
		<Name>${NAME}</Name>
		<Type>${TYPE}</Type>
		<HalfLife>${HALFLIFE}</HalfLife>
		<Concentration unit="uBq/m3">${CONCENTRATION}</Concentration>
		<ConcentrationError unit="percentage">${CONCENTRATION_ERROR}</ConcentrationError>
	</Nuclide>
	
particulateMDATemplate=
	<Nuclide>
		<Name>${NAME}</Name>
		<HalfLife>${HALFLIFE}</HalfLife>
	    <MDA unit="mBq">${MDA}</MDA>
	</Nuclide>
	
peaksTemplate=
    <PeakResult peakID="${PEAKID}">
		<Energy>${ENERGY}</Energy>
		<Centroid>${CENTROID}</Centroid>
		<Area>${AREA}</Area>
		<Width>${WIDTH}</Width>
		<FWHM>${FWHM}</FWHM>
		<BackgroundCounts>${BACKGROUNDCOUNTS}</BackgroundCounts>
		<Efficiency>${EFFICIENCY}</Efficiency>
		<LC>${LC}</LC>
		<LD>${LD}</LD>
		<Detectibility>${DETECTIBILITY}</Detectibility>
		<IdentifiedNuclide percentage="${NUCLIDE_PERCENTAGE}">${NUCLIDE}</IdentifiedNuclide>
	</PeakResult>
	
processingParametersTemplate=
           <ProcessingParameters>
				<Threshold>${THRESHOLD}</Threshold>
				<PeakStart unit="keV">${PEAK_START}</PeakStart>
				<PeakEnd unit="keV">${PEAK_END}</PeakEnd>
				<LeftFWHMLimit>${LEFT_FWHM}</LeftFWHMLimit>
				<RightFWHMLimit>${RIGHT_FWHM}</RightFWHMLimit>
				<MutlipletFWHMLimit>${MULTI_FWHM}</MutlipletFWHMLimit>
				<FitSinglets>${FIT_SINGLETS}</FitSinglets>
				<CriticalLevelTest>${CRITICAL_LEV_TEST}</CriticalLevelTest>
				<EstimatePeakWidths>${ESTIMATED_PEAK_WIDTHS}</EstimatePeakWidths>
				<BaselineType>${BASELINE_TYPE}</BaselineType>
				<BaselineChannels>${BASELINE_CHANNELS}</BaselineChannels>
				<PerformSubstraction>${SUBSTRACTION}</PerformSubstraction>
				<EnergyTolerance>${ENERGY_TOLERANCE}</EnergyTolerance>
				<ConfidenceThreshold>${CONFIDENCE_THRESHOLD}</ConfidenceThreshold>
				<RiskLevel unit="percentage">${RISK_LEVEL}</RiskLevel>
			</ProcessingParameters>

updateParametersTemplate=
            <UpdateParameters>
				<UseMRP>${USE_MRP}</UseMRP>
				<MRPSampleID>${MRP_SAMPLEID}</MRPSampleID>
				<GainShift unit="percentage">${GAIN_SHIFT}</GainShift>
				<ZeroShift>${ZERO_SHIFT}</ZeroShift>
				<AreaLimit>${AREA_LIMIT}</AreaLimit>
				<UseWeight>${USE_WEIGHT}</UseWeight>
				<UseMultiplet>${USE_MULTIPLET}</UseMultiplet>
				<ForceLinear>${FORCE_LINEAR}</ForceLinear>
				<IgnorePreviousECR>${IGNORE_PREVIOUS_ECR}</IgnorePreviousECR>
				<MinimumLibLookupTolerance>${MINIMUM_LIB_LOOKUP_TOLERANCE}</MinimumLibLookupTolerance>
				<RERIntercept>${RER_INTERCEPT}</RERIntercept>
				<RERSlope>${RER_SLOPE}</RERSlope>
				<ECRSlope>${ECR_SLOPE}</ECRSlope>
				<DoResolutionUpdate>${DO_RESOLUTION_UPDATE}</DoResolutionUpdate>
			</UpdateParameters>

timelinessFlagsTemplate =
           <TimelinessAndAvailabilityFlags>
				<PreviousSamplePresent>${PreviousSamplePresent}</PreviousSamplePresent>
				<CollectionTimeWithin24Hrs>${CollectionTime}</CollectionTimeWithin24Hrs>
				<AcquisitionTimeGTE20Hrs>${AcquisitionTime}</AcquisitionTimeGTE20Hrs>
				<DecayTimeLTE24Hrs>${DecayTime}</DecayTimeLTE24Hrs>
				<SampleReceived72HrsFromCollectStart>${SampleReceived}</SampleReceived72HrsFromCollectStart>
			</TimelinessAndAvailabilityFlags>
		
dataQFlags_activationproducts_Template = 
            <ActivationProducts>
			    <Value>${ActivationProducts_VAL}</Value>
				<Pass>${ActivationProducts_PASS}</Pass>
				<Test>lower than ${ActivationProducts_THRESOLD}</Test>
		    </ActivationProducts>	

dataQFlags_Ba140_MDC_Template = 
            <Ba140MDC>
			    <Value>${Ba140_MDC_VAL}</Value>
				<Pass>${Ba140_MDC_PASS}</Pass>
				<Test>lower than ${Ba140_MDC_THRESOLD}</Test>
		    </Ba140MDC>	

dataQFlags_K40_LocationDifference_Template = 
            <K40LocationDifference>
					<Value>${K40_LocationDifference_VAL}</Value>
					<Pass>${K40_LocationDifference_PASS}</Pass>
					<Test>lower than 3 * std deviation</Test>
			</K40LocationDifference>

dataQFlags_NormalizedGainDifference_Template = 
            <NormalizedGainDifference>
					<Value>${NormalizedGainDifference_VAL}</Value>
					<Pass>${NormalizedGainDifference_PASS}</Pass>
					<Test>lower than ${NormalizedGainDifference_THRESOLD}</Test>
			</NormalizedGainDifference>

dataQFlags_Be7_FWHM_Template = 
            <Be7FWHM>
					<Value>${Be7_FWHM_VAL}</Value>
					<Pass>${Be7_FWHM_PASS}</Pass>
					<Test>lower than ${Be7_FWHM_THRESOLD}</Test>
			</Be7FWHM>

dataQFlags_FlowRate_Template = 
            <FlowRate>
					<Value>${FlowRate_VAL}</Value>
					<Pass>${FlowRate_PASS}</Pass>
					<Test>greater than ${FlowRate_THRESOLD}</Test>
			</FlowRate>

dataQualityFlagsTemplate =
             <DataQualityFlags>
				${DQ_FLAGS}
			</DataQualityFlags>
			
eventScreeningFlagsTemplate =
			<EventScreeningFlags>
				<ActivationProductsPresent>true</ActivationProductsPresent>
				<NbOfDaysSinceLastActivationProduct>48.9999</NbOfDaysSinceLastActivationProduct>
				<OnlyOneFissionProductPresent>false</OnlyOneFissionProductPresent>
				<TwoOrMoreFissionProductsPresent>false</TwoOrMoreFissionProductsPresent>
				<CS-137Present>false</CS-137Present>
			</EventScreeningFlags>
			
particulateEnergyCalTemplate=
          <Calibration Type="EnergyToChannels" EnergyUnits="keV" ID="en2ch">
				<Remark>Energy to Channel Calibration equation</Remark>
				<CalibrationCreationDate>2007-11-24T12:09:53.89</CalibrationCreationDate>
				<Equation Model="Polynomial" Form="E(c)= Term0 + Term1 * c + Term2 * C^2 + Term3 * C^3" >
					<Remark>The coefficients taken from the database will have more decimals (higher precision) </Remark>
					<Coefficients>${TERM0} ${TERM1} ${TERM2} ${TERM3}</Coefficients>
				</Equation>
		  </Calibration>
		  
particulateResolutionCalTemplate=
          <Calibration Type="ResolutionToEnergy" EnergyUnits="keV" FWHMUnits="Energy" ID="re2en">
				<Remark>Resolution to Energy Calibration equation</Remark>
				<CalibrationCreationDate>2007-11-24T12:09:53.89</CalibrationCreationDate>
				<Equation Model="Polynomial" Form="FWHM(E)= Term0 + Term1 * SQRT(E)">
					<Remark>The coefficients taken from the database will have more decimals (higher precision) </Remark>
					<Coefficients>${TERM0} ${TERM1}</Coefficients>
				</Equation>
		  </Calibration>
		  
particulateEfficencyCalTemplate=
          <Calibration Type="EfficiencyToEnergy" EnergyUnits="keV" FWHMUnits="Energy" ID="ef2en">
				<Remark>Resolution to Energy Calibration equation</Remark>
				<CalibrationCreationDate>2007-11-24T12:09:53.89</CalibrationCreationDate>
				<Equation Model="PolyLogarithmic" Form="L(E)=ln(${LN_TERM0}/E)">
					<Remark>None</Remark>
					<Coefficients>${LN_TERM0}</Coefficients>
				</Equation>
				<Equation Model="Exponential" Form="e(E)= exp( Term0 + Term1*L + Term2 * L^2 + Term3* L^3 + Term4 * L^4 + Term5 * L^5)">
					<Remark>None</Remark>
					<Coefficients>${TERM0} ${TERM1} ${TERM2} ${TERM3} ${TERM4} ${TERM5}</Coefficients>
				</Equation>
			</Calibration>

particulateRemarkTemplate=
         <Remark>${REMARK}</Remark>


