#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Configuration file 
#  author: guillaume.aubert@ctbto.org
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Name : Logging
#  Info : configuration info related to the logging
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Logging]
# the file where the logging info are going to be stored
file_name     = /tmp/rnpicker.log
backup_count  = 10
# size in bytes around 50 MB by default
max_file_size = 50000000
# mode a for appending , w for overwriting file
mode = a

# filter for the console logger. It will only log message from ROOT and 
consoleFilter = Runner

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Name : Particulate DatabaseAccess
#  Info : Connection Configuration to the Particulate Database
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[ParticulateDatabaseAccess]
# jdbc driver 
driverClassName=oracle.jdbc.driver.OracleDriver 
# devlan Url
# working one on devlan
#url=oracle://aubert:ernest25@idcdev
#url=oracle://rmsuser:rmsuser@maui.ctbto.org
hostname=maui.ctbto.org
user=rmsuser
password=rmsuser
# to mesure and print request execution time
activateTimer=false
# test database
#url=oracle://rmsman:rmsman@172.27.66.54
#url=oracle://rmsman:rmsman@localhost

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Name : ArchiveDatabaseAccess
#  Info : Connection Configuration to the Particulate Archive Database
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[ParticulateArchiveDatabaseAccess]
# to mesure and print request execution time
activateTimer=false
# jdbc driver 
driverClassName=oracle.jdbc.driver.OracleDriver
# devlan Url
# working one on devlan
#url=oracle://centre:data@moorea.ctbto.org
hostname=moorea.ctbto.org
user=centre
password=data

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Name : NobleGazDatabaseAccess
#  Info : Connection Configuration to the NobleGazDatabase
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[NobleGazDatabaseAccess]
# to mesure and print request execution time
activateTimer=true
# jdbc driver 
driverClassName=oracle.jdbc.driver.OracleDriver
# devlan Url
# working one on devlan
#url=oracle://aubert:ernest25@idcdev
#url=oracle://centre:data@moorea.ctbto.org
hostname=idcdev.ctbto.org
user=rmsuser
password=rmsuser

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Name : BrokenSamples
#  Info : list of samples to ignore as they are incomplete
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[IgnoreSamples]
# no calibration info ignore these samples
noblegazSamples=53758,141303,141306,141317,141347,141372,141397,141437,141438,141449,141479,141501,141527,206975

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Name : Options
#  Info : general options
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Options]
removeChannelIndex=true
addNuclideLines=true
compressSpectrum=false
remoteDataSource=true
#write human readable hash in /tmp as a .data file
writeHumanReadableData=true

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Name : Caching
#  Info : caching information
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Caching]
# cache data file
activateCaching=true
dir=/tmp/samples/cached-data

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Name : RemoteAccess
#  Info : Mapping for accessing a remote file system where the RN data is
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[RemoteAccess]
# all retrieved samples will be stored here
localdir=/tmp/samples/local-spectrums

# 3 hosts configured to access transparently the different products
archiveAccessHost=kuredu
prodAccessHost=kuredu
nobleGazRemoteHost=dls013

# script launched to retrieve the data on a remote file system
prodAccessScript=%(ENV[RNPICKER_CONF_DIR])/scripts/remote_extraction_from_archive.sh
archiveAccessScript=%(ENV[RNPICKER_CONF_DIR])/scripts/remote_extraction_from_archive.sh

cachingActivated=false


#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Name : Transformer
#  Info : Transform XML into something else
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Transformer]
xsltPrettyPrinter=%(ENV[RNPICKER_CONF_DIR])/pretty-print.xslt
templateDir=%(ENV[RNPICKER_CONF_DIR])/templates
 
############## This part is used by generate_arr_and_email application ######################

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Name : AutomaticEmailingInformation
# Info : Information regarding the automatic emailing
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[AutomaticEmailingInformation]
host=malta14.office.ctbto.org
port=25
user=aubert
password=ernest25
sender=guillaume.aubert@ctbto.org
#when you want to define a groupDBPath different from the default one built from
# the command line
#groupDBPath=/home/aubert/RNPickerEnv/new-env/data
groupDBPath=/tmp
#groupDBPath=/home/smd/aubert/public/generate_and_email_runtime/data
expirationDate=20
# tar file or zip file
archiveType=tar

[Products]
stations_types= SAUNA,SPALAX
#filtering for DPKR2 as in linuxworkstation test env
#Sauna_Stations_SQL=select STATION_CODE,STATION_ID from RMSMAN.GARDS_STATIONS where (type='SAUNA' or type='ARIX-4') and (station_code like 'RUX58' or station_code like 'CNX22' or station_code like 'JPX38' or station_code like 'CNX20' or station_code like 'SEX63')
#Spalax_Stations_SQL= 
#Spalax_Stations_SQL = select STATION_CODE,STATION_ID from RMSMAN.GARDS_STATIONS where (type='SPALAX') and (station_code like 'DEX33' or station_code like 'CNX20' or station_code like 'CNX22')

#default requests (you don't need them)
Sauna_Stations_SQL=select STATION_CODE,STATION_ID from RMSMAN.GARDS_STATIONS where (type='SAUNA' or type='ARIX-4') and station_code not like '%EU%'
Spalax_Stations_SQL=select STATION_CODE,STATION_ID from RMSMAN.GARDS_STATIONS where (type='SPALAX')

# true to send ARR with XML false otherwise
withARR=true

[AutomaticEmailingGroups]
test=guillaume.aubert@gmail.com
#prod=idcxml@findc1.stuk.fi,xml@gub.ca,xavier.blanchard@cea.fr,guillaume.aubert@gmail.com,sampml.ctbto@gmail.com

############## End of part used by generate_arr_and_email application ######################

#### Add templates for XML Noble Gas Products 
%include %(ENV[RNPICKER_CONF_DIR])/xml_templates.config