############## This part is used by generate_arr_and_email application ######################

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Name : AutomaticEmailingInformation
# Info : Information regarding the automatic emailing
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[AutomaticEmailingInformation]
host=malta14.office.ctbto.org
port=25
user=aubert
obfuscate_password=True
password=ZXJuZXN0MjU=
sender=guillaume.aubert@ctbto.org
#when you want to define a groupDBPath different from the default one built from
# the command line
groupDBPath=%(ENV[RNPICKER_CONF_DIR])/../data
#groupDBPath=/tmp
#groupDBPath=/home/smd/aubert/public/generate_and_email_runtime/data
expirationDate=20
# tar file or zip file
archiveType=zip

[Products]
stations_types= SAUNA,SPALAX
#filtering for DPKR2 as in linuxworkstation test env
#Sauna_Stations_SQL=select STATION_CODE,STATION_ID from RMSMAN.GARDS_STATIONS where (type='SAUNA' or type='ARIX-4') and (station_code like 'RUX58' or station_code like 'CNX22' or station_code like 'JPX38' or station_code like 'CNX20' or station_code like 'SEX63')
#Spalax_Stations_SQL= 
#Spalax_Stations_SQL = select STATION_CODE,STATION_ID from RMSMAN.GARDS_STATIONS where (type='SPALAX') and (station_code like 'DEX33' or station_code like 'CNX20' or station_code like 'CNX22')

#default requests (you don't need them)
Sauna_Stations_SQL=select STATION_CODE,STATION_ID from RMSMAN.GARDS_STATIONS where (type='SAUNA' or type='ARIX-4') and station_code not like '%EU%'
Spalax_Stations_SQL=select STATION_CODE,STATION_ID from RMSMAN.GARDS_STATIONS where (type='SPALAX')

# true to send ARR with XML false otherwise
withARR=true

[AutomaticEmailingGroups]
test=guillaume.aubert@gmail.com
#prod=idcxml@findc1.stuk.fi,xml@gub.ca,xavier.blanchard@cea.fr,sampml.ctbto@gmail.com

############## End of part used by generate_arr_and_email application ######################