#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Configuration file 
#  author: guillaume.aubert@ctbto.org
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Name : GroupTest1
#  Info : 
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[GroupTest1]
astring=oracle.jdbc.driver.OracleDriver
# some comments
aint= 10
afloat=5.24
abool1 = true
abool2 = false
abool3 = yes
abool4 = no
abool5 = NO
aPath  = /tmp/foo/bar


[GroupTestVars]
path   = /foo/bar/%(GroupTest1[aPath])/bar/foo
path1  = /foo/%(GroupTest1[aPath])/%(GroupTestVars[path])/bar
group  = done
done   = this is done
nested = %(GroupTestVars[%(GroupTestVars[group])])

