
[GENERAL]
env_dir=/home/smd/aubert/public/infrasound/profile-test-env

[ECMWFDATA]
production_loc=/ops/data/atm/primary-met
archive_loc=/archive/ops/atm/Metdata/ECMWF
time_step=3
check_in_archive=true

[NOAADATA]
#dir=/home/aubert/dev/src-reps/java-balivernes/InfraProfiler/scripts
dir=%(GENERAL[env_dir])/scripts
exe=get_noaa_info.csh ${dir} ${date}

[G2S]
gs2_default_bin_dir=/tmp/g2sbindir
gs2_default_necdf_dir=/tmp/g2snetcdfdir
g2s_log_dir=/tmp/g2slogdir
#dir=%(GENERAL[env_dir])/scripts/g2s_bin_generator
dir=/home/consult/mialle/Workplace_Pk/retrieveG2S/G2S/bin
#exe=cd %(G2S[dir]);%(G2S[dir])/g2smodel4.1.gfort -v -d ${output_dir} -i ${f107} ${f107a} ${ap} ${ecmwf_file} >& ${log_file}
exe=cd %(G2S[dir]);%(G2S[dir])/g2smodel4.1.gfort -v -d ${output_dir} -i ${f107} ${f107a} ${ap} ${ecmwf_file}

[G2SCLIENT]
lib_g2s=/home/smd/aubert/public/infrasound/g2s_profile_generator/lib/libg2sclient.so
nb_levels=401
level_step=0.5

[NETCDF]
#could be NETCDF4 or NETCDF4_CLASSIC (need netcdf4 lib)
produced_format=NETCDF3_CLASSIC


