#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Configuration file
# author: guillaume.aubert@ctbto.org
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Name : Logging
# Info : configuration info related to the logging
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Logging]
fileLogging = /tmp/test_generate_arr.log
consoleFilter = Runner
 
 
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Name : Particulate DatabaseAccess
# Info : Connection Configuration to the Particulate Database
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[ParticulateDatabaseAccess]
# jdbc driver
driverClassName=oracle.jdbc.driver.OracleDriver
# devlan Url
# working one on devlan
#url=oracle://aubert:ernest25@idcdev
#url=oracle://rmsuser:rmsuser@maui.ctbto.org
#on my laptop
#hostname=172.27.66.144
#hostname=127.0.0.1
#user=rmsuser
#password=rmsuser
hostname=maui.ctbto.org
user=rmsuser
password=rmsuser
# to mesure and print request execution time
activateTimer=false
# test database
#url=oracle://rmsman:rmsman@172.27.66.54
#url=oracle://rmsman:rmsman@localhost
 
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Name : ArchiveDatabaseAccess
# Info : Connection Configuration to the Particulate Archive Database
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[ParticulateArchiveDatabaseAccess]
# to mesure and print request execution time
activateTimer=false
# jdbc driver
driverClassName=oracle.jdbc.driver.OracleDriver
# devlan Url
# working one on devlan
#url=oracle://centre:data@moorea.ctbto.org
hostname=moorea.ctbto.org
user=centre
password=data
#hostname=127.0.0.1
#user=rmsauto
#password=rmsauto

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Name : NobleGazDatabaseAccess
# Info : Connection Configuration to the NobleGazDatabase
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[NobleGazDatabaseAccess]
# to mesure and print request execution time
activateTimer=true
# jdbc driver
driverClassName=oracle.jdbc.driver.OracleDriver
# devlan Url
# working one on devlan
#url=oracle://aubert:ernest25@idcdev
#url=oracle://centre:data@moorea.ctbto.org
hostname=idcdev.ctbto.org
#user=rmsuser
#password=rmsuser
user=rmsauto
password=go2idcdev
 
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Name : BrokenSamples
# Info : list of samples to ignore as they are incomplete
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[IgnoreSamples]
# no calibration info ignore these samples
noblegazSamples=53758,141303,141306,141317,141347,141372,141397,141437,141438,141449,141479,141501,141527,206975
 
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Name : Options
# Info : general options
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Options]
removeChannelIndex=true
addNuclideLines=true
compressSpectrum=false
# cache data file
activateCaching=false
remoteDataSource=true
#write human readable hash in /tmp
writeHumanReadableData=true
 
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Name : Caching
# Info : caching information
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Caching]
dir=/tmp/samples/cached-data
 
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Name : RemoteAccess
# Info : Mapping for access a remote file system where the RN data is
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[RemoteAccess]
localdir=/tmp/samples/local-spectrums
prodAccessHost=kuredu.ops.ctbto.org
prodAccessUser=aubert
prodAccessScript=%(ENV[RNPICKER_CONF_DIR])/scripts/remote_extraction_from_archive.sh
archiveAccessHost=kuredu.ops.ctbto.org
archiveAccessUser=aubert
archiveAccessScript=%(ENV[RNPICKER_CONF_DIR])/scripts/remote_extraction_from_archive.sh
cachingActivated=true
nobleGazRemoteHost=dls007.idc.ctbto.org
devlanAccessHost=dls013.idc.ctbto.org
devlanAccessUser=aubert
getRequestMessage=%(ENV[RNPICKER_CONF_DIR])/scripts/test_if_request_msg.sh

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Name : AutomaticEmailingInformation
# Info : Information regarding the automatic emailing
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[AutomaticEmailingInformation]
databaseDir=/tmp/email_db

 
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Name : Transformer
# Info : Transform XML into something else
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Transformer]
xsltPrettyPrinter=%(ENV[RNPICKER_CONF_DIR])/pretty-print.xslt
 
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Name : SpalaxTemplatingSystem
# Info : Information for the XML templating engine
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[SpalaxTemplatingSystem]
# Base Template to load
spalaxBaseTemplate=
   <?xml version="1.0" encoding="ISO-8859-1"?>
   <SampML xmlns="http://www.ctbto.org/SAMPML/0.5">
   ${REMARK}
   <SampleInformation UUID="${REFERENCEID}">
     <StationInformation>
       <StationLocation>${STATION_LOCATION}</StationLocation>
       <StationCode>${STATION_CODE}</StationCode>
       <CountryCode>${COUNTRY_CODE}</CountryCode>
       <Coordinates>${COORDINATES}</Coordinates>
     </StationInformation>
     <DetectorInformation>
       <DetectorCode>${DET_CODE}</DetectorCode>
       <DetectorDescription>${DET_DESCRIPTION}</DetectorDescription>
     </DetectorInformation>
     <SampleType>${SAMPLE_TYPE}</SampleType>
     <MeasuredInformation>
              ${DATA}
     </MeasuredInformation>
     <Analyses>
     ${AnalysisResults}
     </Analyses>
     <CalibrationInformation>
      ${CALIBRATION}
     </CalibrationInformation>
   </SampleInformation>
    </SampML>
 
spalaxSpectrumTemplate=
    <Spectrum id="${SPECTRUM_ID}" calibrationIDs="${CAL_INFOS}">
       <Geometry>${GEOMETRY}</Geometry>
   <Quantity unit="m3">${QUANTITY}</Quantity>
   <FlowRate unit="m3/h">${FLOW_RATE}</FlowRate>
   <CollectionStart>${COL_START}</CollectionStart>
   <CollectionStop>${COL_STOP}</CollectionStop>
   <AcquisitionStart>${ACQ_START}</AcquisitionStart>
   <AcquisitionStop>${ACQ_STOP}</AcquisitionStop>
   <ArrivalDate>${ARRIVAL_DATE}</ArrivalDate>
   <RealAcquisitionTime>${REAL_ACQ_TIME}</RealAcquisitionTime>
   <LiveAcquisitionTime>${LIVE_ACQ_TIME}</LiveAcquisitionTime>
       <SamplingTime>${SAMPLING_TIME}</SamplingTime>
   <DecayTime>${DECAY_TIME}</DecayTime>
   <MeasurementType>${MEASUREMENT_TYPE}</MeasurementType>
   <SampleType>${SAMPLE_TYPE}</SampleType>
   <Data gammaChannelSpan="${SPECTRUM_DATA_CHANNEL_SPAN}" gammaEnergySpan="${SPECTRUM_DATA_ENERGY_SPAN}" format="IMS2.0" ${COMPRESS}>
         ${SPECTRUM_DATA}
       </Data>
    </Spectrum>
    
spalaxAnalysisTemplate=
   <Analysis id="${ANALYSISID}" spectrumIDs="${SPECTRUM_ID}" calibrationIDs="${CAL_INFOS}">
       <Software>
     <Name>${SOFTWARE}</Name>
     <Version>${VERSION}</Version>
     <Method>${METHOD}</Method>
     <Comments>${SOFTCOMMENTS}</Comments>
   </Software>
   <Categorization>
     ${CATEGORY}
   </Categorization>
   <IdedNuclides>
     ${NUCLIDES}
   </IdedNuclides>
   <XeCovarianceMatrixes>
     ${XECOVMATRIX}
   </XeCovarianceMatrixes>
   <Parameters>
     ${PARAMETERS}
   </Parameters>
   <Flags>
     ${FLAGS}
   </Flags>
   </Analysis>
 
spalaxMethodMatrixTemplate=
   <XeCovarianceMatrix method="${METHOD}">
       ${CELLS}
   </XeCovarianceMatrix>
   
spalaxCovMatrixCellTemplate=<Cell row="${ROW}" col="${COL}">${VALUE}</Cell>
 
spalaxProcessingParametersTemplate=
    <ProcessingParameters>
    ${PARAMETERS}
    </ProcessingParameters>
    
    
spalaxDataQualityFlagsTemplate =
            <DataQualityFlags>
        ${DQ_FLAGS}
      </DataQualityFlags>
      
dataQFlags_FlowRate_Template =
            <FlowRate>
          <Value>${FlowRate_VAL}</Value>
          <Pass>${FlowRate_PASS}</Pass>
          <Test>greater than ${FlowRate_THRESOLD}</Test>
      </FlowRate>
 
spalaxQCFlagsTemplate=
     <QCFlags>
    ${QC_FLAGS}
   </QCFlags>
 
spalaxQCFlagTemplate=
     <${NAME}>
    <Comment>${COMMENT}</Comment>
    <Pass>${PASS}</Pass>
     </${NAME}>
     
spalaxNuclideTemplate=
    <Nuclide quantifiable="true" method="${METHOD}">
    <Name>${NAME}</Name>
    <Concentration unit="uBq/m3">${CONCENTRATION}</Concentration>
   <AbsoluteConcentrationError unit="uBq/m3">${CONCENTRATION_ERROR}</AbsoluteConcentrationError>
   <RelativeConcentrationError unit="percentage">${CONCENTRATION_ERROR_PERC}</RelativeConcentrationError>
    <MDC unit="uBq">${MDC}</MDC>
    <MDI unit="uBq">${MDI}</MDI>
    <LC unit="uBq/m3">${LC}</LC>
    <LD unit="uBq/m3">${LD}</LD>
    <Activity unit="uBq/m3">${ACTIVITY}</Activity>
   <AbsoluteActivityError unit="uBq/m3">${ACTIVITY_ERROR}</AbsoluteActivityError>
   <RelativeActivityError unit="percentage">${ACTIVITY_ERROR_PERC}</RelativeActivityError>
    <LCActivity unit="Bq">${LC_ACTIVITY}</LCActivity>
    <LDActivity unit="Bq">${LD_ACTIVITY}</LDActivity>
   <NuclideIdentificationIndicator numericVal="${IDENTIFICATION_NUM}">${IDENTIFICATION_INDICATOR}</NuclideIdentificationIndicator>
    </Nuclide>
    
spalaxEnergyCalTemplate=
          <Calibration Type="Energy" EnergyUnits="keV" ID="${EN_ID}">
        <Remark>Energy to Channel Calibration equation</Remark>
        <CalibrationCreationDate>2007-11-24T12:09:53.89</CalibrationCreationDate>
        <Equation Model="Polynomial" Form="E(C)= Term0 + Term1 * C + Term2 * C^2 + Term3 * C^3" >
          <Remark>The coefficients taken from the database will have more decimals (higher precision) </Remark>
          <Coefficients>${TERM0} ${TERM1} ${TERM2} ${TERM3}</Coefficients>
        </Equation>
     </Calibration>
    
spalaxResolutionCalTemplate=
          <Calibration Type="Resolution" EnergyUnits="keV" FWHMUnits="Energy" ID="${RE_ID}">
        <Remark>Resolution to Energy Calibration equation</Remark>
        <CalibrationCreationDate>2007-11-24T12:09:53.89</CalibrationCreationDate>
        <Equation Model="Polynomial" Form="R(E)=SQRT( Term0 + Term1 * E + Term2 * E^2 )">
          <Remark>The coefficients taken from the database will have more decimals (higher precision) </Remark>
          <Coefficients>${TERM0} ${TERM1} ${TERM2}</Coefficients>
        </Equation>
     </Calibration>
    
spalaxEfficencyCalTemplate=
          <Calibration Type="Efficiency" EnergyUnits="keV" FWHMUnits="Energy" ID="${EF_ID}">
        <Remark>Resolution to Energy Calibration equation</Remark>
        <CalibrationCreationDate>2007-11-24T12:09:53.89</CalibrationCreationDate>
        <Equation Model="PolyLogarithmic" Form="L(E)=ln(${LN_TERM0}/E)">
          <Remark>None</Remark>
          <Coefficients>${LN_TERM0}</Coefficients>
        </Equation>
        <Equation Model="Exponential" Form="e(E)= exp( Term0 + Term1*L + Term2 * L^2 + Term3* L^3 + Term4 * L^4 + Term5 * L^5)">
          <Remark>None</Remark>
          <Coefficients>${TERM0} ${TERM1} ${TERM2} ${TERM3} ${TERM4} ${TERM5}</Coefficients>
        </Equation>
      </Calibration>
 
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Name : SaunaTemplatingSystem
# Info : Information for the XML templating engine
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[SaunaTemplatingSystem]
# Base Template to load
saunaBaseTemplate=
   <?xml version="1.0" encoding="ISO-8859-1"?>
   <SampML xmlns="http://www.ctbto.org/SAMPML/0.5">
   ${REMARK}
   <SampleInformation UUID="${REFERENCEID}">
     <StationInformation>
       <StationLocation>${STATION_LOCATION}</StationLocation>
       <StationCode>${STATION_CODE}</StationCode>
       <CountryCode>${COUNTRY_CODE}</CountryCode>
       <Coordinates>${COORDINATES}</Coordinates>
     </StationInformation>
     <DetectorInformation>
       <DetectorCode>${DET_CODE}</DetectorCode>
       <DetectorDescription>${DET_DESCRIPTION}</DetectorDescription>
     </DetectorInformation>
     <SampleType>${SAMPLE_TYPE}</SampleType>
     <MeasuredInformation>
              ${DATA}
     </MeasuredInformation>
     <Analyses>
     ${AnalysisResults}
     </Analyses>
     <CalibrationInformation>
      ${CALIBRATION}
     </CalibrationInformation>
   </SampleInformation>
    </SampML>
 
saunaSpectrumTemplate=
    <Spectrum id="${SPECTRUM_ID}" calibrationIDs="${CAL_INFOS}">
       <Geometry>${GEOMETRY}</Geometry>
   <Quantity unit="m3">${QUANTITY}</Quantity>
   <FlowRate unit="m3/h">${FLOW_RATE}</FlowRate>
   <CollectionStart>${COL_START}</CollectionStart>
   <CollectionStop>${COL_STOP}</CollectionStop>
   <AcquisitionStart>${ACQ_START}</AcquisitionStart>
   <AcquisitionStop>${ACQ_STOP}</AcquisitionStop>
   <ArrivalDate>${ARRIVAL_DATE}</ArrivalDate>
   <RealAcquisitionTime>${REAL_ACQ_TIME}</RealAcquisitionTime>
   <LiveAcquisitionTime>${LIVE_ACQ_TIME}</LiveAcquisitionTime>
       <SamplingTime>${SAMPLING_TIME}</SamplingTime>
   <DecayTime>${DECAY_TIME}</DecayTime>
   <MeasurementType>${MEASUREMENT_TYPE}</MeasurementType>
   <SampleType>${SAMPLE_TYPE}</SampleType>
   <Data gammaChannelSpan="${SPECTRUM_DATA_CHANNEL_SPAN}" gammaEnergySpan="${SPECTRUM_DATA_ENERGY_SPAN}" format="IMS2.0" ${COMPRESS}>
         ${SPECTRUM_DATA}
       </Data>
    </Spectrum>
 
saunaHistogramTemplate=
    <Histogram id="${H_ID}" calibrationIDs="${CAL_INFOS}">
       <Geometry>${GEOMETRY}</Geometry>
   <Quantity unit="m3">${QUANTITY}</Quantity>
   <CollectionStart>${COL_START}</CollectionStart>
   <CollectionStop>${COL_STOP}</CollectionStop>
   <AcquisitionStart>${ACQ_START}</AcquisitionStart>
   <AcquisitionStop>${ACQ_STOP}</AcquisitionStop>
   <RealAcquisitionTime>${REAL_ACQ_TIME}</RealAcquisitionTime>
   <LiveAcquisitionTime>${LIVE_ACQ_TIME}</LiveAcquisitionTime>
       <SamplingTime>${SAMPLING_TIME}</SamplingTime>
   <DecayTime>${DECAY_TIME}</DecayTime>
   <MeasurementType>${MEASUREMENT_TYPE}</MeasurementType>
   <SampleType>${SAMPLE_TYPE}</SampleType>
   <Data gammaChannelSpan="${H_G_DATA_CHANNEL_SPAN}" gammaEnergySpan="${H_G_DATA_ENERGY_SPAN}" betaChannelSpan="${H_B_DATA_CHANNEL_SPAN}" betaEnergySpan="${H_B_DATA_ENERGY_SPAN}" format="IMS2.0" ${COMPRESS}>
         ${H_DATA}
       </Data>
    </Histogram>
 
saunaEnergyCalTemplate=
          <Calibration Type="${EN_TYPE} Energy" EnergyUnits="keV" ID="${EN_ID}">
        <Remark>${EN_TYPE} Energy to Channel Calibration equation</Remark>
        <CalibrationCreationDate>2007-11-24T12:09:53.89</CalibrationCreationDate>
        <Equation Model="Polynomial" Form="E(c)= Term0 + Term1 * c + Term2 * C^2" >
          <Remark>The coefficients taken from the database will have more decimals (higher precision) </Remark>
          <Coefficients>${TERM0} ${TERM1} ${TERM2}</Coefficients>
        </Equation>
     </Calibration>
 
saunaAnalysisTemplate=
   <Analysis id="${ANALYSISID}" spectrumIDs="${SPECTRUM_ID}" calibrationIDs="${CAL_INFOS}">
       <Software>
     <Name>${SOFTWARE}</Name>
     <Version>${VERSION}</Version>
     <Method>${METHOD}</Method>
     <Comments>${SOFTCOMMENTS}</Comments>
   </Software>
   <Categorization>
     ${CATEGORY}
   </Categorization>
   <IdedNuclides>
     ${NUCLIDES}
   </IdedNuclides>
   <ROIInfo>
     ${ROIINFO}
     ${ROIBOUNDARIES}
   </ROIInfo>
   <Parameters>
     ${PARAMETERS}
   </Parameters>
   <Flags>
     ${FLAGS}
   </Flags>
   </Analysis>
 
saunaNuclideTemplate=
    <Nuclide quantifiable="${QUANTIFIABLE}">
    <Name>${NAME}</Name>
    <Type>${TYPE}</Type>
        <HalfLife>${HALFLIFE}</HalfLife>
    <Concentration unit="uBq/m3">${CONCENTRATION}</Concentration>
   <AbsoluteConcentrationError unit="uBq/m3">${CONCENTRATION_ERROR}</AbsoluteConcentrationError>
   <RelativeConcentrationError unit="percentage">${CONCENTRATION_ERROR_PERC}</RelativeConcentrationError>
   <Activity unit="uBq/m3">${ACTIVITY}</Activity>
   <AbsoluteActivityError unit="uBq/m3">${ACTIVITY_ERROR}</AbsoluteActivityError>
   <RelativeActivityError unit="percentage">${ACTIVITY_ERROR_PERC}</RelativeActivityError>
    <MDC unit="uBq">${MDC}</MDC>
    <LC unit="uBq/m3">${LC}</LC>
    <LD unit="uBq/m3">${LD}</LD>
    <LCActivity unit="Bq">${LC_ACTIVITY}</LCActivity>
    <LDActivity unit="Bq">${LD_ACTIVITY}</LDActivity>
   <NuclideIdentificationIndicator numericVal="${IDENTIFICATION_NUM}">${IDENTIFICATION_INDICATOR}</NuclideIdentificationIndicator>
    </Nuclide>
 
saunaRoiTemplate=
    <RoiNetCount>
        <RoiNumber>${ROINB}</RoiNumber>
    <Name>${NAME}</Name>
    <NetCounts>${NETCOUNTS}</NetCounts>
    <LC unit="uBq/m3">${LC}</LC>
    <LD unit="uBq/m3">${LD}</LD>
    <MDC unit="uBq">${MDC}</MDC>
    <DetBackgroundCounts>${DETNETCOUNTS}</DetBackgroundCounts>
    <GasBackgroundCounts>${GASNETCOUNTS}</GasBackgroundCounts>
    <Efficiency unit="uBq">${EFF}</Efficiency>
    <AbsoluteEfficiencyError unit="uBq">${EFF_ERR}</AbsoluteEfficiencyError>
    <RelativeEfficiencyError unit="percentage">${EFF_ERR_PERC}</RelativeEfficiencyError>    
    </RoiNetCount>
    
saunaRoiBoundariesTemplate=
    <RoiBoundaries>
        <RoiNumber>${ROINB}</RoiNumber>
    <GammaLow unit="keV">${GAMMA_LOW}</GammaLow>
    <GammaHigh unit="keV">${GAMMA_HIGH}</GammaHigh>
    <BetaLow unit="keV">${BETA_LOW}</BetaLow>
    <BetaHigh unit="keV">${BETA_HIGH}</BetaHigh>
    </RoiBoundaries>
 
saunaTimelinessFlagsTemplate =
    <TimelinessAndAvailabilityFlags>
    <CollectionTime>
     <Flag>${CollectionTimeFlag}</Flag>
     <Value unit="${CollectionTimeValueUnit}">${CollectionTimeValue}</Value>
     <Test>${CollectionTimeTest}</Test>
    </CollectionTime>
   <AcquisitionTime>
   <Flag>${AcquisitionTimeFlag}</Flag>
     <Value unit="${AcquisitionTimeValueUnit}">${AcquisitionTimeValue}</Value>
     <Test>${AcquisitionTimeTest}</Test>
   </AcquisitionTime>
    <DecayTime>
           <Flag>${DecayTimeFlag}</Flag>
     <Value unit="${DecayTimeValueUnit}">${DecayTimeValue}</Value>
     <Test>${DecayTimeTest}</Test>
        </DecayTime>
        <ResponseTime>
           <Flag>${RespondTimeFlag}</Flag>
           <Value unit="${RespondTimeValueUnit}">${RespondTimeValue}</Value>
     <Test>${RespondTimeTest}</Test>
        </ResponseTime>
    </TimelinessAndAvailabilityFlags>
 
saunaDataQualityFlagsTemplate =
    <DataQualityFlags>
    <XeVolume>
     <Flag>${XeVolumeFlag}</Flag>
     <Value unit="${XeVolumeValueUnit}">${XeVolumeValue}</Value>
     <Test>${XeVolumeTest}</Test>
    </XeVolume>
    </DataQualityFlags>
 
 
 
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Name : ParticulateTemplatingSystem
# Info : Information for the XML templating engine
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[ParticulateTemplatingSystem]
# Base Template to load
particulateBaseTemplate=
    <?xml version="1.0" encoding="ISO-8859-1"?>
    <SampML xmlns="http://www.ctbto.org/SAMPML/0.5">
   ${REMARK}
   <SampleInformation UUID="${REFERENCEID}">
     <StationInformation>
       <StationLocation>${STATION_LOCATION}</StationLocation>
       <StationCode>${STATION_CODE}</StationCode>
       <CountryCode>${COUNTRY_CODE}</CountryCode>
       <Coordinates>${COORDINATES}</Coordinates>
     </StationInformation>
     <DetectorInformation>
       <DetectorCode>${DET_CODE}</DetectorCode>
       <DetectorDescription>${DET_DESCRIPTION}</DetectorDescription>
     </DetectorInformation>
     <SampleType>${SAMPLE_TYPE}</SampleType>
     <MeasuredInformation>
                ${SPECTRUM}
     </MeasuredInformation>
     <Analyses>
     ${AnalysisResults}
     </Analyses>
     <CalibrationInformation>
       ${CALIBRATION}
     </CalibrationInformation>
   </SampleInformation>
    </SampML>
 
particulateSpectrumTemplate=
    <Spectrum id="${SPECTRUM_ID}" calibrationIDs="${CAL_INFOS}">
       <Geometry>${GEOMETRY}</Geometry>
   <Quantity unit="m3">${QUANTITY}</Quantity>
   <CollectionStart>${COL_START}</CollectionStart>
   <CollectionStop>${COL_STOP}</CollectionStop>
   <AcquisitionStart>${ACQ_START}</AcquisitionStart>
   <AcquisitionStop>${ACQ_STOP}</AcquisitionStop>
   <RealAcquisitionTime>${REAL_ACQ_TIME}</RealAcquisitionTime>
   <LiveAcquisitionTime>${LIVE_ACQ_TIME}</LiveAcquisitionTime>
       <SamplingTime>${SAMPLING_TIME}</SamplingTime>
   <DecayTime>${DECAY_TIME}</DecayTime>
   <MeasurementType>${MEASUREMENT_TYPE}</MeasurementType>
   <SampleType>${SAMPLE_TYPE}</SampleType>
   <Data gammaChannelSpan="${SPECTRUM_DATA_CHANNEL_SPAN}" gammaEnergySpan="${SPECTRUM_DATA_ENERGY_SPAN}" format="IMS2.0" ${COMPRESS}>
         ${SPECTRUM_DATA}
       </Data>
    </Spectrum>
 
particulateNuclideTemplate=
    <Nuclide quantifiable="${QUANTIFIABLE}" reportMDA="${REPORTMDA}">
    <Name>${NAME}</Name>
        <Type>${TYPE}</Type>
        <HalfLife>${HALFLIFE}</HalfLife>
    <Concentration unit="uBq/m3">${CONCENTRATION}</Concentration>
   <ConcentrationError unit="percentage">${CONCENTRATION_ERROR}</ConcentrationError>
    <MDA unit="uBq">${MDA}</MDA>
   <NuclideIdentificationIndicator numericVal="${IDENTIFICATION_NUM}">${IDENTIFICATION_INDICATOR}</NuclideIdentificationIndicator>
    </Nuclide>
 
particulateNuclideLinesTemplate=
    <IdedNuclideLines>
   ${NUCLIDELINES}
  </IdedNuclideLines>
  
particulateOneNuclideLineTemplate=
    <IdedNuclideLine ${PEAKID}>
    <Name>${NAME}</Name>
   <MDA unit="uBq">${MDA}</MDA>
   ${ACTIVTIY}
    ${ENERGY}
    ${ABUNDANCE}
    ${EFFICIENCY}
  </IdedNuclideLine>
  
particulateAutoCategoryTemplate=<AutomaticCategory>${AUTO_CATEGORY}</AutomaticCategory>
 
particulateCategoryTemplate=
   <Category>${CATEGORY}</Category>
   <CategoryComment>${CATEGORY_COMMENT}</CategoryComment>
   <AutomaticCategory>${AUTO_CATEGORY}</AutomaticCategory>
 
particulateAnalysisTemplate=
   <Analysis id="${ANALYSISID}" spectrumIDs="${SPECTRUM_ID}" calibrationIDs="${CAL_INFOS}">
       <Software>
     <Name>${SOFTWARE}</Name>
     <Version>${VERSION}</Version>
     <Method>${METHOD}</Method>
     <Comments>${SOFTCOMMENTS}</Comments>
   </Software>
   <Categorization>
     ${CATEGORY}
   </Categorization>
   <IdedNuclides>
     ${NUCLIDES}
   </IdedNuclides>
   ${WITHNUCLIDELINES}
   <PeakResults>
     ${PEAKS}
   </PeakResults>
   <Parameters>
     ${PARAMETERS}
   </Parameters>
     <Flags>
       ${FLAGS}
    </Flags>
   </Analysis>
  
particulateQuantifiedTemplate=
   <Nuclide>
    <Name>${NAME}</Name>
    <Type>${TYPE}</Type>
    <HalfLife>${HALFLIFE}</HalfLife>
    <Concentration unit="uBq/m3">${CONCENTRATION}</Concentration>
    <ConcentrationError unit="percentage">${CONCENTRATION_ERROR}</ConcentrationError>
  </Nuclide>
  
particulateMDATemplate=
  <Nuclide>
    <Name>${NAME}</Name>
    <HalfLife>${HALFLIFE}</HalfLife>
   <MDA unit="mBq">${MDA}</MDA>
  </Nuclide>
  
peaksTemplate=
    <PeakResult peakID="${PEAKID}">
    <Energy>${ENERGY}</Energy>
    <Centroid>${CENTROID}</Centroid>
    <Area>${AREA}</Area>
    <Width>${WIDTH}</Width>
    <FWHM>${FWHM}</FWHM>
    <BackgroundCounts>${BACKGROUNDCOUNTS}</BackgroundCounts>
    <Efficiency>${EFFICIENCY}</Efficiency>
    <LC>${LC}</LC>
    <LD>${LD}</LD>
    <Detectibility>${DETECTIBILITY}</Detectibility>
    <IdentifiedNuclide percentage="${NUCLIDE_PERCENTAGE}">${NUCLIDE}</IdentifiedNuclide>
  </PeakResult>
  
processingParametersTemplate=
           <ProcessingParameters>
        <Threshold>${THRESHOLD}</Threshold>
        <PeakStart unit="keV">${PEAK_START}</PeakStart>
        <PeakEnd unit="keV">${PEAK_END}</PeakEnd>
        <LeftFWHMLimit>${LEFT_FWHM}</LeftFWHMLimit>
        <RightFWHMLimit>${RIGHT_FWHM}</RightFWHMLimit>
        <MutlipletFWHMLimit>${MULTI_FWHM}</MutlipletFWHMLimit>
        <FitSinglets>${FIT_SINGLETS}</FitSinglets>
        <CriticalLevelTest>${CRITICAL_LEV_TEST}</CriticalLevelTest>
        <EstimatePeakWidths>${ESTIMATED_PEAK_WIDTHS}</EstimatePeakWidths>
        <BaselineType>${BASELINE_TYPE}</BaselineType>
        <BaselineChannels>${BASELINE_CHANNELS}</BaselineChannels>
        <PerformSubstraction>${SUBSTRACTION}</PerformSubstraction>
        <EnergyTolerance>${ENERGY_TOLERANCE}</EnergyTolerance>
        <ConfidenceThreshold>${CONFIDENCE_THRESHOLD}</ConfidenceThreshold>
        <RiskLevel unit="percentage">${RISK_LEVEL}</RiskLevel>
      </ProcessingParameters>
 
updateParametersTemplate=
            <UpdateParameters>
        <UseMRP>${USE_MRP}</UseMRP>
        <MRPSampleID>${MRP_SAMPLEID}</MRPSampleID>
        <GainShift unit="percentage">${GAIN_SHIFT}</GainShift>
        <ZeroShift>${ZERO_SHIFT}</ZeroShift>
        <AreaLimit>${AREA_LIMIT}</AreaLimit>
        <UseWeight>${USE_WEIGHT}</UseWeight>
        <UseMultiplet>${USE_MULTIPLET}</UseMultiplet>
        <ForceLinear>${FORCE_LINEAR}</ForceLinear>
        <IgnorePreviousECR>${IGNORE_PREVIOUS_ECR}</IgnorePreviousECR>
        <MinimumLibLookupTolerance>${MINIMUM_LIB_LOOKUP_TOLERANCE}</MinimumLibLookupTolerance>
        <RERIntercept>${RER_INTERCEPT}</RERIntercept>
        <RERSlope>${RER_SLOPE}</RERSlope>
        <ECRSlope>${ECR_SLOPE}</ECRSlope>
        <DoResolutionUpdate>${DO_RESOLUTION_UPDATE}</DoResolutionUpdate>
      </UpdateParameters>
 
timelinessFlagsTemplate =
           <TimelinessAndAvailabilityFlags>
        <PreviousSamplePresent>${PreviousSamplePresent}</PreviousSamplePresent>
        <CollectionTimeWithin24Hrs>${CollectionTime}</CollectionTimeWithin24Hrs>
        <AcquisitionTimeGTE20Hrs>${AcquisitionTime}</AcquisitionTimeGTE20Hrs>
        <DecayTimeLTE24Hrs>${DecayTime}</DecayTimeLTE24Hrs>
        <SampleReceived72HrsFromCollectStart>${SampleReceived}</SampleReceived72HrsFromCollectStart>
      </TimelinessAndAvailabilityFlags>
    
dataQFlags_activationproducts_Template =
            <ActivationProducts>
       <Value>${ActivationProducts_VAL}</Value>
        <Pass>${ActivationProducts_PASS}</Pass>
        <Test>lower than ${ActivationProducts_THRESOLD}</Test>
     </ActivationProducts>  
 
dataQFlags_Ba140_MDC_Template =
            <Ba140MDC>
       <Value>${Ba140_MDC_VAL}</Value>
        <Pass>${Ba140_MDC_PASS}</Pass>
        <Test>lower than ${Ba140_MDC_THRESOLD}</Test>
     </Ba140MDC>  
 
dataQFlags_K40_LocationDifference_Template =
            <K40LocationDifference>
          <Value>${K40_LocationDifference_VAL}</Value>
          <Pass>${K40_LocationDifference_PASS}</Pass>
          <Test>lower than 3 * std deviation</Test>
      </K40LocationDifference>
 
dataQFlags_NormalizedGainDifference_Template =
            <NormalizedGainDifference>
          <Value>${NormalizedGainDifference_VAL}</Value>
          <Pass>${NormalizedGainDifference_PASS}</Pass>
          <Test>lower than ${NormalizedGainDifference_THRESOLD}</Test>
      </NormalizedGainDifference>
 
dataQFlags_Be7_FWHM_Template =
            <Be7FWHM>
          <Value>${Be7_FWHM_VAL}</Value>
          <Pass>${Be7_FWHM_PASS}</Pass>
          <Test>lower than ${Be7_FWHM_THRESOLD}</Test>
      </Be7FWHM>
 
dataQFlags_FlowRate_Template =
            <FlowRate>
          <Value>${FlowRate_VAL}</Value>
          <Pass>${FlowRate_PASS}</Pass>
          <Test>greater than ${FlowRate_THRESOLD}</Test>
      </FlowRate>
 
dataQualityFlagsTemplate =
             <DataQualityFlags>
        ${DQ_FLAGS}
      </DataQualityFlags>
      
eventScreeningFlagsTemplate =
      <EventScreeningFlags>
        <ActivationProductsPresent>true</ActivationProductsPresent>
        <NbOfDaysSinceLastActivationProduct>48.9999</NbOfDaysSinceLastActivationProduct>
        <OnlyOneFissionProductPresent>false</OnlyOneFissionProductPresent>
        <TwoOrMoreFissionProductsPresent>false</TwoOrMoreFissionProductsPresent>
        <CS-137Present>false</CS-137Present>
      </EventScreeningFlags>
      
particulateEnergyCalTemplate=
          <Calibration Type="Energy" EnergyUnits="keV" ID="${EN_ID}">
        <Remark>Energy to Channel Calibration equation</Remark>
        <CalibrationCreationDate>2007-11-24T12:09:53.89</CalibrationCreationDate>
        <Equation Model="Polynomial" Form="E(c)= Term0 + Term1 * c + Term2 * C^2 + Term3 * C^3" >
          <Remark>The coefficients taken from the database will have more decimals (higher precision) </Remark>
          <Coefficients>${TERM0} ${TERM1} ${TERM2} ${TERM3}</Coefficients>
        </Equation>
     </Calibration>
    
particulateResolutionCalTemplate=
          <Calibration Type="Resolution" EnergyUnits="keV" FWHMUnits="Energy" ID="${RE_ID}">
        <Remark>Resolution to Energy Calibration equation</Remark>
        <CalibrationCreationDate>2007-11-24T12:09:53.89</CalibrationCreationDate>
        <Equation Model="Polynomial" Form="FWHM(E)= Term0 + Term1 * SQRT(E)">
          <Remark>The coefficients taken from the database will have more decimals (higher precision) </Remark>
          <Coefficients>${TERM0} ${TERM1}</Coefficients>
        </Equation>
     </Calibration>
    
particulateEfficencyCalTemplate=
          <Calibration Type="Efficiency" EnergyUnits="keV" FWHMUnits="Energy" ID="${EF_ID}">
        <Remark>Resolution to Energy Calibration equation</Remark>
        <CalibrationCreationDate>2007-11-24T12:09:53.89</CalibrationCreationDate>
        <Equation Model="PolyLogarithmic" Form="L(E)=ln(${LN_TERM0}/E)">
          <Remark>None</Remark>
          <Coefficients>${LN_TERM0}</Coefficients>
        </Equation>
        <Equation Model="Exponential" Form="e(E)= exp( Term0 + Term1*L + Term2 * L^2 + Term3* L^3 + Term4 * L^4 + Term5 * L^5)">
          <Remark>None</Remark>
          <Coefficients>${TERM0} ${TERM1} ${TERM2} ${TERM3} ${TERM4} ${TERM5}</Coefficients>
        </Equation>
      </Calibration>
 
particulateRemarkTemplate=
         <Remark>${REMARK}</Remark>
 
 
 