#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Configuration file 
#  author: guillaume.aubert@ctbto.org
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Name : DatabaseAccess
#  Info : Connection Configuration Database
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[DatabaseAccess]
# jdbc driver 
driverClassName=oracle.jdbc.driver.OracleDriver
# jdbc url (should be something like jdbc:mysql://localhost:3306/vmc)
url=jdbc:oracle:thin:@orac1.ctbto.org:1521/IDCDEV.CTBTO.ORG
# uid
uid=centre
# password
password=data


#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Name : DataExtraction
#  Info : Connection Configuration Database
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[DataExtraction]
tables=RMSAUTO.GARDS_STATIONS
limits=RMSAUTO.GARDS_STATIONS:4
extractionDir=/tmp/DbDump